# Title of the project being visualized
#ProjectName=My Software Project

# Data input
#RepositoryFile=/path/to/repository-file.xml

# Output
WriteToPDF=false
#OutputPrefix=frames/default

# Visual variables
#  Interactive:
ScreenWidth=1920
ScreenHeight=800
#  PDF:
# ScreenWidth=3000
# ScreenHeight=1300

# Color assignment rules
ColorAssign1="Docs",".*doc.*", 0,0,255
#ColorAssign2="Code1",".*src1.*", 0,255,255
#ColorAssign3="Code2",".*src2.*", 102,0,255
#ColorAssign4="Code3",".*src3.*", 255,0,0
#ColorAssign5="Code4",".*src4.*", 255,255,0
#ColorAssign6="Code5",".*src5.*", 119,68,119
#ColorAssign7="Code6",".*src6.*", 136,51,17,
#ColorAssign8="Code7",".*src7.*", 250,110,110
#ColorAssign9="Code8",".*src8.*", 238,102,68
#ColorAssign10=".*src9.*", 238,68,119


# Advanced visual variables
#
# thickness of each tube (in pixels)
TubeWidth=8
#
# number of tubes between clusters
MinTubeSpace=3
#
# neutral space surrounding each tube (in pixels)
TubePadding=4
#
# not implemented
BundleThreshold=8
#
# how many pixels betwen labels
InnerLabelSpacing=200
#
# maximum height of the file commit histogram (in pixels)
CommitHistogramHeight=100


